<main class="w-full bg-cover h-[100vh] bg-center" style="background-image: url(../../assets/images/ftxpzkxn43w71.png);">
    <section>
        <nav class="font-Averia flex bg-[#D9D9D9] bg-opacity-50 p-[10px] items-center justify-between">
            <section>
                <h1 class="text-[24px] md:text-[26px]">Lazare's Music</h1>
            </section>
            <section>
                <a href="https://www.linkedin.com/in/lazare-mirziashvili-069672306/"><i class="fa-brands fa-linkedin text-[34px] md:text-[36px] lg:text-[40px] mx-[7px]"></i></a>
                <a href="https://github.com/aponchikaj"><i class="fa-brands fa-github text-[34px] md:text-[36px] lg:text-[40px]"></i></a>
            </section>
        </nav>
        <main class="text-center p-[5px] min-w-[300px] max-w-[400px] h-[60vh] flex mx-auto my-[100px] overflow-y-scroll">
            <section class="flex flex-col w-full items-center rounded bg-[#D9D9D9] bg-opacity-50">
                <section class="w-full text-center">
                    <h1 class="my-[30px] font-Averia text-[28px]">Lazare's Music</h1>
                    <marquee behavior="scroll" direction="left" class="w-full text-red-500 font-Averia"><h3>World wont exist without music.</h3></marquee>
                </section>
                <section class="flex justify-center items-center my-[0px]">
                    <ul>
                        <a href="../../index.html" class="flex text-[27px] font-Averia my-[5px] hover:font-bold">Home</a>
                        <a href="#MusicID" class="flex text-[27px] font-Averia my-[5px] hover:font-bold">Music</a>
                        <a href="#PlaylistID" class="flex text-[27px] font-Averia my-[5px] hover:font-bold">Playlist</a>
                        <a href="#TopMusicID" class="flex text-[27px] font-Averia my-[5px] hover:font-bold">Musics</a>
                        <a href="#ContactID" class="flex text-[27px] font-Averia my-[5px] hover:font-bold">Contact</a>
                    </ul>
                </section>
            </section>
        </main>
    </section>
</main>