<main class="h-[100vh] w-full bg-cover bg-center" style="background-image: url(../../assets/images/a1570911712_65.jpeg);">
    <section>
        <section>
            <h1 class="text-center text-[27px] md:text-start p-[40px] font-Averia">My top Musics:</h1>
        </section>
        <section class="min-w-[500px] max-w-[700px] mx-auto overflow-y-scroll h-[80vh] min-w-[300px] max-w-[800px] mx-auto flex flex-col">
            <section>
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/7pLSqbNjrKLOS2kes6ZVPv?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy" class="my-[15px]"></iframe>
            </section>
            <section>
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/07XfXsd8DiPHCVkAgKe10k?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy" class="my-[15px]"></iframe>
            </section>
            <section>
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/2wdTyQevxBPHraGsFGiyjx?utm_source=generator&theme=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy" class="my-[15px]"></iframe>
            </section>
            <section>
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/31RlQmyi8xyP6xYpV6MXbN?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy" class="my-[15px]"></iframe>
            </section>
            <section>
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/4rAB5o7gWmPJYtAcdssjn7?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy" class="my-[15px]"></iframe>
            </section>
            <section>
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/1qGQ5tmiwl9thGzlvFg1De?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy" class="my-[15px]"></iframe>
            </section>
            <section>
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/5Tyo6INLWqmKCzkhuGP4sv?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy" class="my-[15px]"></iframe>
            </section>
            <section>
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/3c9iIEOlVsa0qySn4JkCdh?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy" class="my-[15px]"></iframe>
            </section>
            <section>
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/4aOOExMBUyxKnEYb39SrTg?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy" class="my-[15px]"></iframe>
            </section>
            <section>
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/53DcYW9ZNNUiTGRkuJ4LCz?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy" class="my-[15px]"></iframe>
            </section>
            <section>
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/7apTlYqAJnvxoJHv0CrDme?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy" class="my-[15px]"></iframe>
            </section>
        </section>
    </section>
</main>