<main class="h-[100vh] w-full bg-cover bg-center" style="background-image: url(../../assets/images/created-my-own-generic-frutiger-aero-wallpaper-to-use-for-v0-5fb4uuthj49c1.png.webp);">
    <section class="flex justify-center items-center h-[100vh]">
        <section class="min-w-[650px] max-w-[700px] bg-[#D9D9D9] rounded h-[70vh] bg-opacity-50 font-Averia flex justify-center flex-col items-center">
            <section class="flex items-center justify-center">
                <i class="fa-solid fa-phone text-[28px] flex"></i>
                <h3 class="text-[24px] mx-[10px]">(+995) 555 992 212</h3>
            </section>
            <section class="flex items-center justify-center my-[10px]">
                <i class="fa-solid fa-envelope text-[28px] flex"></i>
                <a href=""><h3 class="text-[24px] mx-[15px]">lazaremirziashvili8gmail.com</h3></a>
            </section>
            <section class="my-[10px]">
                <a href="https://www.linkedin.com/in/lazare-mirziashvili-069672306/"><i class="fa-brands fa-linkedin mx-[10px] text-[45px]"></i></a>
                <a href="https://github.com/aponchikaj"><i class="fa-brands fa-github mx-[10px] text-[45px]"></i></a>
                <a href="https://www.upwork.com/freelancers/~010044c3155b0d8c4e"><i class="fa-brands fa-upwork mx-[10px] text-[45px]"></i></a>
            </section>
        </section>
    </section>
</main>