@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth;
}

@font-face {
    font-family: AveriaSansLibre;
    src: url(./assets/font/Averia_Sans_Libre/AveriaSansLibre-Regular.ttf);
}